<div class="search-form mt-4">
  <form method="POST">
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Tìm kiếm</span>
        <input
          type="text"
          class="form-control"
          id="basic-url"
          name="p"
          placeholder="Nhập từ khóa"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Giới tính</span>
        <select class="form-control" id="gender-input" name="gender">
          <option selected disabled>Chọn giới tính</option>
          <option>Nam</option>
          <option>Nữ</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>